<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>netbotCHAT😎</title>
    <base href="/">
    <link rel="shortcut icon" type="image/x-icon" href="./images/web_icon.png" />
    <link rel="stylesheet" href="./css/dropdown.css" type="text/css">
    <link rel="stylesheet" href="./css/globalform.css" type="text/css">
    <link rel="stylesheet" href="./css/alert.css" type="text/css">
    <link rel="stylesheet" href="./css/chat.css" type="text/css">
    <link rel="stylesheet" href="./css/welcom.css" type="text/css">
    <style>
        
    </style>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

</head>
<body>


    <%- body %>

    
<!-- socket.io cdn -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.dev.js"></script>

<script src="./scripts/clientScript.js"></script>
</body>
</html>