<div class="welcome-container">
    <%- include ("./partials/messages") %>
    <img src="./images/prg.png" alt="">
    <div class="welcome">
        <section class="login">
            <a href="users/login">login</a>
        </section>
        <section class="register">
            <a href="/users/register">register</a>
        </section>
    </div>
   
</div>
