@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500&display=swap');


/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

/* container */
.container-dashboard {
  width: 70%;
  margin: 0 auto;
  /* border: solid 1px black; */
  height: 700px;
}


/* cls */
.group:before,
.group:after {
  content: "";
  display: table;
}

.group:after {
  clear: both;
}

.group {
  clear: both;
  *zoom: 1;
}

/* header */
.container-header{
  width: 80%;
  margin: 0 auto;
}
.container-header a{
  color: black;
  text-decoration: none;
}
.container-header a:hover{
  color: orangered;
}
.logo-dashboard {
  float: left;

}

.header-dashboard{
  padding: 20px 3px 20px 3px;
  background-color: rgba(40, 131, 211, 0.568);
  border-radius: 5px;
}

.header-dashboard a {
  margin-top: 10px;
  text-decoration: none;
  float: right;
}

.logout{
  margin-right: 10px;
}
/* ln-models */
.ln-models {
  width: 50%;
  /* border: solid grey 1px; */
  border-radius: 20px;
  height: 100%;
  float: left;
  padding: 10px;
}

/* stats */
.stats-sec {
  height: 100%;
  float: left;
  width: 50%;
}

.stats {
  border: solid grey 1px;
  border-radius: 20px;
  height: 340px;
  margin-top: 12px;
  margin-bottom: 40px;
  overflow: hidden;
}


.add a{
  font-size: 27px;
  text-decoration: none;
  border-radius: 50%;
  padding: 12px 20px;
  font-weight: 600;
  color: black;
  background-color: hotpink;
}
.stats-sec figure{
  text-align: center;
}
.add p{
  margin-top: 12px;
}

/* model */
.model{
  padding: 10px;
  border: solid grey 1px;
  border-radius: 20px;
  width: 60%;
  color: black;
  background-color: rgb(50, 209, 50);
  margin-bottom: 44px;
}
.model-2{
  margin-left: 13%;
  background-color: rgb(84, 84, 231);
}
.model-3{
  margin-left: 26%;
  background-color: orange;
}
.model-4{
  margin-left: 13%;
  background-color: pink;
}
.model-5{
  background-color: orangered;
}