@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Source+Code+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Source+Code+Pro:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(./illustration-4701783_1920.png);
}

/* ------- grid ----- */
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    border: solid 2px #2196F3;
    width: 70%;
    margin: 50px auto;
    height: 100%;
    padding-top: 50px;
    border-radius: 5px;
}

#text-area {

    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    border: none;
    background: transparent;
    font-size: 30px;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Indie Flower', cursive;
    font-weight: 800;
    letter-spacing: 4px;
    color: rgb(14, 13, 13);
    position: relative;
}

#message-input {
    /* position: relative; */
    padding: 20px;
    margin-top: 1rem;
    margin-left: 20%;
    width: 60%;
    border: solid 2px rgb(46, 151, 238);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 25px;
    font-family: 'Source Code Pro', monospace;
    font-family: 'Indie Flower', cursive;
    font-weight: 900;
    letter-spacing: 4px;
    color: rgb(255, 0, 0);
}

#isTyping {
    /* position: absolute; */
    /* top: 20%; */
    /* border: solid 1px orangered; */
    height: 20px;
    margin: 0;
    text-align: center;
    color: rgb(255, 0, 0);
    letter-spacing: 3px;
    font-size: 16px;
    font-weight: bold;

}

/* ---- clear-fix -----*/
.group:before,
.group:after {
    content: "";
    display: table;
}

.group:before {
    clear: both;
}

.group {
    clear: both;
    *zoom: 1;
}

/* ----- buttons -------- */
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

a:hover {
    background-color: #ddd;
    color: black;
}

.previous, .next{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 55%;
}

.previous {
    background-color: #4CAF50;
    color: black;
}

.next {
    margin-left: 618px;
    background-color: #4CAF50;
    color: black;
}

.round {
    border-radius: 50%;
    font-size: 30px;
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 50%;
    background-color: #42A5F5;
}

.btn-send {
    width: 100px;
    height: 100px;
    margin-left: 45%;
}

.btn-deletedb {
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    left: 75%;
    top: 150%;
}

/* ----- text area --- */

/* ----- message container ----- */
#message-container {
    widows: 60%;
    margin: auto;
    text-align: center;
    color: rgb(255, 0, 0);
    font-size: xx-large;
}

/* --- message receive---- */
.receive-message {
    border: solid 1.5px#42A5F5;
    width: 70%;
    margin: 0 auto;
    border-radius: 20px;
}

@media only screen and (max-width: 800px) {
    .container {
        width: 100%;
        margin: 0;
        padding: 0;
        padding-top: 20%;
        border: 0;
    }

    .next{
        margin-left: 76%;
    }
    .previous{
        margin-left: 1%;
    }
    .next, .previous{
        top: 40%;
    }
    #message-input {
        margin-top: 20%;
        width: 80%;
        /* margin: 100px; */
        margin-left: 10%;
    }

    #text-area {}

    .receive-message {

        width: 90%;

    }

    .btn-send {
        margin-top: 16%;
        height: 100px;
        width: 100px;
        margin-left: 36%;
        margin-bottom: 20px;
    }

    .btn-deletedb {
        height: 40px;
        display: none;

    }
}